{% extends 'base.html' %} {% import 'macros.html' as macro %}
<head>
        <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
</head>
<style>
        h1{
            font-family: 'Nosifer', cursive;
        }
        
        </style>

<body>
   
    {% block styles%} {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block content %}
       <div class = 'container'>
           <h1>GENERAL NEWS SOURCES</h1>
           <hr>
             {{macro.displaySources(general)}}
        <hr>
        <hr>
        <div class="jumbotron">
        <h1>SPORTS NEWS SOURCES</h1>
    </div>
        <hr>
        {{macro.displaySources(sports)}}
        
        <hr>
        <hr>
        <hr>     
        <div class="jumbotron">  
        <h1>BUSINESS NEWS SOURCES</h1>
    </div> 
        <hr>
        {{macro.displaySources(business)}}
        <hr>
        <hr>
<div class="jumbotron">
        <h1>ENTERTAINMENT NEWS SOURCES</h1>
    </div>
        <hr>
        {{macro.displaySources(entertainment)}}
        <hr>
        <hr>

        <h1>SCIENCE NEWS SOURCES</h1>
        <hr>
        {{macro.displaySources(science)}}
        <hr>
        <hr>

        <h1>HEALTH NEWS SOURCES</h1>
        <hr>
        {{macro.displaySources(health)}}
        <hr>
        <hr>

        <h1>TECHNOLOGY NEWS SOURCE</h1>
        <hr>
        {{macro.displaySources(technology)}}
        <hr>
        <hr>


      
      </div>    
    {% endblock %}
</body>
