{% import 'macros.html' as macro %}

<body>
    sports
    <ul>
        {{macro.displaySources(sports)}}
    </ul>
    business
    <ul>
            {{macro.displaySources(business)}}
    </ul>
    technology
    <ul>
        {{macro.displaySources(technology)}}
    </ul>
    entertainment
    <ul>
            {{macro.displaySources(entertainment)}}
        </ul>
        science
    <ul>
            {{macro.displaySources(science)}}
        </ul>
        health
    <ul>
            {{macro.displaySources(health)}}
        </ul>
        general
    <ul>
            {{macro.displaySources(general)}}
        </ul>
     
</body>